section {
    display: grid;
    justify-content: center;
    align-content: center;
  
    gap: 20;
    grid-auto-flow: column;
  }
  .blog-card{
    background-color: red;
    border-radius: 30px;
    border-width: 30px;
    border-style: solid;
    border-color: red;
  }
  