* {
    box-sizing: border-box;
  }

section{
    padding:10px;
}
.gallery {
    align-items: center;
    padding: 0%;
}
.fig {
    filter:drop-shadow(grey 0.5rem 0.5rem 5px);
}
img {
    border-radius: 10px;
    width: 50%;   
}

video {
    border-radius: 10px;
}
.titlecard, tr, td{
    background-color: rgb(255, 206, 11);
    border-color: black;
    border-collapse: collapse;
    padding: 4px;
    border-radius: 10px;

    
}


.flex-navigator {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.flex-navigator li{
    float: left;
}

.flex-navigator li a{
    display: block;
    padding: 8px;
    background-color: #ff5035;
    text-decoration: none;
}
.flex-navigator li a:hover{
    background-color: rgb(255, 206, 11);
}

a{
    text-decoration: none;
    color: black;
}