.gallery {
    
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
}
.fig {
    filter:drop-shadow(grey 0.5rem 0.5rem 5px);
}

img {
    border-radius: 10px;
    flex-grow: 1;
    object-fit: cover;
}

video {
    border-radius: 10px;
}
.titlecard{
    background-color: rgb(255, 206, 11);
    border-width: 20px;
}